In [1]:
# Chicago Crime Analysis
# W200 Fall 18 | Group Project 2
# Team members: Jonathan Hilton, Thanh Le, Eddie Zhu

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# read Chicago crime data csv file
crime_pd = pd.read_csv("crimes2001topresent.csv")

In [5]:
crime_pd.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [6]:
len(crime_pd)

6749651

In [22]:
columns = ["Primary Type","Description","Year","Latitude","Longitude","Location"]
crime_df = pd.DataFrame(crime_pd, columns = columns)
crime_df.head()

,Primary Type,Description,Year,Latitude,Longitude,Location
0,BATTERY,AGGRAVATED: HANDGUN,2015,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,OTHER OFFENSE,PAROLE VIOLATION,2015,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,BATTERY,DOMESTIC BATTERY SIMPLE,2015,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,BATTERY,SIMPLE,2015,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,ROBBERY,ARMED: HANDGUN,2015,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [23]:
len(crime_df)

6749651

In [27]:
crime_df_yr = (crime_df[crime_df.Year == 2017])
crime_df_yr.head()

,Primary Type,Description,Year,Latitude,Longitude,Location
12878,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,2017,42.012293,-87.699714,"(42.012293397, -87.699714109)"
14060,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,2017,41.918712,-87.765511,"(41.918711651, -87.76551063)"
14919,OTHER OFFENSE,SEX OFFENDER: FAIL REG NEW ADD,2017,41.814670,-87.690727,"(41.814669784, -87.690726696)"
16640,DECEPTIVE PRACTICE,BOGUS CHECK,2017,41.938581,-87.765831,"(41.938581442, -87.765830579)"
21633,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,2017,41.895805,-87.683159,"(41.895805099, -87.683159355)"

In [28]:
len(crime_df_yr)

267808

In [29]:
crime_df_yr.to_csv("crime2017.csv")

In [10]:
crime_df_group = crime_df.groupby(["Primary Type","Year"]).count().reset_index()
crime_df_group

,Primary Type,Year,Date,Description,Block,Latitude,Longitude,Location
0,ARSON,2001,1010,1010,1010,1004,1004,1004
1,ARSON,2002,1032,1032,1032,978,978,978
2,ARSON,2003,955,955,955,953,953,953
3,ARSON,2004,778,778,778,774,774,774
4,ARSON,2005,691,691,691,688,688,688
5,ARSON,2006,726,726,726,726,726,726
6,ARSON,2007,712,712,712,710,710,710
7,ARSON,2008,644,644,644,643,643,643
8,ARSON,2009,616,616,616,612,612,612
9,ARSON,2010,522,522,522,522,522,522
10,ARSON,2011,504,504,504,504,504,504
11,ARSON,2012,469,469,469,469,469,469
12,ARSON,2013,364,364,364,364,364,364
13,ARSON,2014,397,397,397,396,396,396
14,ARSON,2015,453,453,453,453,453,453
15,ARSON,2016,516,516,516,515,515,515
16,ARSON,2017,444,444,444,444,444,444
17,ARSON,2018,322,322,322,322,322,322
18,ASSAULT,2001,31384,31384,31384,31260,31260,31260
19,ASSAULT,2002,31521,31521,31521,30733,30733,30733
20,ASSAULT,2003,29477,29477,29477,29292,29292,29292
21,ASSAULT,2004,28850,28850,28850,28792,28792,28792
22,ASSAULT,2005,27066,27066,27066,26965,26965,26965
23,ASSAULT,2006,25945,25945,25945,25929,25929,25929
24,ASSAULT,2007,26313,26313,26313,26305,26305,26305
25,ASSAULT,2008,25447,25447,25447,25273,25273,25273
26,ASSAULT,2009,22861,22861,22861,22616,22616,22616
27,ASSAULT,2010,21536,21536,21536,21533,21533,21533
28,ASSAULT,2011,20411,20411,20411,20406,20406,20406
29,ASSAULT,2012,19898,19898,19898,19897,19897,19897
...,...,...,...,...,...,...,...,...
512,THEFT,2007,85156,85156,85156,84600,84600,84600
513,THEFT,2008,88433,88433,88433,86406,86406,86406
514,THEFT,2009,80973,80973,80973,79305,79305,79305
515,THEFT,2010,76754,76754,76754,76739,76739,76739
516,THEFT,2011,75148,75148,75148,75122,75122,75122
517,THEFT,2012,75460,75460,75460,75444,75444,75444
518,THEFT,2013,71530,71530,71530,71501,71501,71501
519,THEFT,2014,61561,61561,61561,61458,61458,61458
520,THEFT,2015,57335,57335,57335,56696,56696,56696
521,THEFT,2016,61600,61600,61600,61040,61040,61040
522,THEFT,2017,64334,64334,64334,63585,63585,63585
523,THEFT,2018,56527,56527,56527,55861,55861,55861
524,WEAPONS VIOLATION,2001,4274,4274,4274,4246,4246,4246
525,WEAPONS VIOLATION,2002,4281,4281,4281,4149,4149,4149
526,WEAPONS VIOLATION,2003,4211,4211,4211,4199,4199,4199
527,WEAPONS VIOLATION,2004,4297,4297,4297,4284,4284,4284
528,WEAPONS VIOLATION,2005,4106,4106,4106,4074,4074,4074
529,WEAPONS VIOLATION,2006,3821,3821,3821,3816,3816,3816
530,WEAPONS VIOLATION,2007,3554,3554,3554,3547,3547,3547
531,WEAPONS VIOLATION,2008,3877,3877,3877,3826,3826,3826
532,WEAPONS VIOLATION,2009,4158,4158,4158,4079,4079,4079
533,WEAPONS VIOLATION,2010,3704,3704,3704,3704,3704,3704
534,WEAPONS VIOLATION,2011,3880,3880,3880,3879,3879,3879
535,WEAPONS VIOLATION,2012,3907,3907,3907,3904,3904,3904
536,WEAPONS VIOLATION,2013,3246,3246,3246,3246,3246,3246
537,WEAPONS VIOLATION,2014,3114,3114,3114,3110,3110,3110
538,WEAPONS VIOLATION,2015,3363,3363,3363,3333,3333,3333
539,WEAPONS VIOLATION,2016,3449,3449,3449,3448,3448,3448
540,WEAPONS VIOLATION,2017,4686,4686,4686,4682,4682,4682
541,WEAPONS VIOLATION,2018,4792,4792,4792,4792,4792,4792

In [12]:
crime_df_group["Primary Type"].group()

AttributeError: 'Series' object has no attribute 'group'

In [13]:
pivot_df = crime_df_group.pivot(index="Year",columns='Primary Type',values="Date").fillna(0)
colors = ['red','lightgreen','blue', 'green', 'orange', 'pink', 'lightblue', 'maroon', 'darksalmon', 'sandybrown', 'darkkhaki', 'olivedrab', 'seagreen', 'darkcyan', 'navy', 'darkorchid', 'plum', 'lightcoral', 'cadetblue', 'dodgerblue', 'rebeccapurple', 'darkviolet', 'fuchsia', 'deeppink', 'crimson', 'indianred', 'darkred', 'aqua', 'aquamarine', 'darkslateblue']
pivot_df.loc[:,type_list].plot.bar(stacked=True,color=colors,figsize=(20,10),fontsize=16)
plt.title("Crimes of Chicago by Type",fontsize=30)
plt.ylabel("Number of crimes",fontsize=20)
plt.xlabel("Year",fontsize=20)
plt.legend(loc="best",fontsize=15, title="Type",mode="Expanded", labelspacing=0.5,bbox_to_anchor=(1.0, 1.0))

# Save the Figure
plt.savefig("Crimes_type.png")

#show the figure
plt.show()

NameError: name 'type_list' is not defined

In [14]:
# read parking traffic violation csv data file
parking_pd = pd.read_csv("parking_tickets.csv")

/Users/t/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,9,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
parking_pd.head()

,ticket_number,issue_date,violation_location,license_plate_number,license_plate_state,license_plate_type,zipcode,violation_code,violation_description,unit,...,fine_level2_amount,current_amount_due,total_payments,ticket_queue,ticket_queue_date,notice_level,hearing_disposition,notice_number,officer,address
0,51551278,2007-01-01 00:00:00,6014 W 64TH ST,90ad622c3274c9bdc9d8c812b79a01d0aaf7479f2bd743...,IL,PAS,60638,0976160F,EXPIRED PLATES OR TEMPORARY REGISTRATION,8,...,100,0.0,100.0,Paid,2007-05-21 00:00:00,SEIZ,NaN,5048648030,15227,"6000 w 64th st, chicago, il"
1,51491256,2007-01-01 00:00:00,530 N MICHIGAN,bce4dc26b2c96965380cb2b838cdbb95632b7b57160612...,IL,PAS,606343801,0964150B,PARKING/STANDING PROHIBITED ANYTIME,18,...,100,50.0,0.0,Define,2007-01-22 00:00:00,NaN,NaN,0,18320,"500 n michigan, chicago, il"
2,50433524,2007-01-01 00:01:00,4001 N LONG,44641e828f4d894c883c07c566063c2d99d08f2c03b3d4...,IL,PAS,60148,0976160F,EXPIRED PLATES OR TEMPORARY REGISTRATION,16,...,100,0.0,50.0,Paid,2007-01-31 00:00:00,VIOL,NaN,5079875240,3207,"4000 n long, chicago, il"
3,51430906,2007-01-01 00:01:00,303 E WACKER,eee50ca0d9be2debd0e7d45bad05b8674a6cf5b892230f...,IL,PAS,60601,0964110A,DOUBLE PARKING OR STANDING,152,...,200,0.0,100.0,Paid,2007-03-08 00:00:00,DETR,Liable,5023379950,19410,"300 e wacker, chicago, il"
4,51507779,2007-01-01 00:01:00,7 E 41ST ST,244116ca3eed4235b1f61f6d753d8c688be2a48c9fdd97...,IL,PAS,605053013,0976220B,SMOKED/TINTED WINDOWS PARKED/STANDING,2,...,50,0.0,50.0,Paid,2007-08-29 00:00:00,SEIZ,NaN,5079891400,66396,"7 e 41st st, chicago, il"

In [9]:
len(parking_pd)

28272580

In [16]:
columns = ["issue_date","violation_location","address"]
parking_df = pd.DataFrame(parking_pd, columns = columns)
parking_df.head()

            issue_date violation_location                      address
0  2007-01-01 00:00:00     6014 W 64TH ST  6000 w 64th st, chicago, il
1  2007-01-01 00:00:00     530 N MICHIGAN  500 n michigan, chicago, il
2  2007-01-01 00:01:00        4001 N LONG     4000 n long, chicago, il
3  2007-01-01 00:01:00       303 E WACKER    300 e wacker, chicago, il
4  2007-01-01 00:01:00        7 E 41ST ST     7 e 41st st, chicago, il

In [14]:
len(parking_df)

28272580

In [18]:
import datetime

In [21]:
park_df_yr = (parking_df[parking_df.issue_date.date.year == 2017]).reset_index()
park_df_yr.head()

AttributeError: 'Series' object has no attribute 'date'